
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcc99;
}

header {
    background-color: #6b64d5;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    width: 150px;
    background-color: #6b64d5;
    padding: 10px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

nav a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

section {
    margin-left: 180px;
    padding: 15px;
}

#find-pet-sitter,
#subscription,
#follow-us {
    animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#find-pet-sitter form,
#subscription form {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#find-pet-sitter button,
#subscription button {
    background-color: #998b3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#find-pet-sitter button:hover,
#subscription button:hover {
    background-color: #555;
}

#follow-us {
    text-align: center;
    margin-top: 20px;
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 66px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.social-links svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-links svg:hover {
    transform: scale(1.2);
}

#home img {
    width: 110%;
    max-width: 1050px;
    height: auto;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#services img {
    width: 50.5%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#services li {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex-basis: calc(47% - 20px);
    animation: fadeInScale 1s ease;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}




